extends header

block content
  div.container
    h1#header Locale Tour
    h3#subheader Everyone has the chance&nbsp;&nbsp;&nbsp;
      span.gold.bigger to be
      span ,
      span.blue.bigger to know
      span ,
      span.pink.bigger to discover!
    if status != 200
      p= msg
    else
      each val, index in post
        div.col-md-3
          h4= val.nickname
          h5= val.city
          h5= val.contact
          a(href='/post/' + val._id) More
