doctype html
html(lang="en")
  head
    title Local Tour
    meta(charset="utf-8")
    link(href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css')
    link(href='/stylesheets/bootstrap.min.css' rel='stylesheet' type='text/css')
    link(href='/stylesheets/style.css' rel='stylesheet' type='text/css')
    script(src='/javascripts/jquery-2.2.0.min.js')
  body
    div.container
      header
        a(href='/admin/profile') try again
        div.row
          div.col-md-6
            h1 Register
            form.form-horizontal(action='/user/register' method='post')
              div.form-group
                label.col-sm-3.control-label *Nickname
                .col-sm-9
                  input.form-control(name='id' type='text' placeholder='ID/nickname/email')
              div.form-group
                label.col-sm-3.control-label *Password
                .col-sm-9
                  input.form-control(name='pwd' type='password' placeholder='Password')
              div.form-group
                label.col-sm-3.control-label *Confirm Password
                .col-sm-9
                  input.form-control(name='confirmpwd' type='password' placeholder='Confirm Password')
              div.form-group
                .col-sm-3
                .col-sm-9
                  #confirmpwdwrong.red
              div.form-group
                .col-sm-3
                .col-sm-9
                  input.btn.btn-default(type="submit" disabled)
            if status
              p.red= msg
          div.col-md-2
          div.col-md-4
            h2
              a(href="/user/login") Login
  script(src='/javascripts/register.js')
